html,
body {
    margin: 0;
    padding: 0;
}

p {
    text-rendering: optimizeLegibility;
}

a {
    color: #666;
    text-decoration: underline;
    text-decoration-color: white;
    transition: .15s;
}

a:hover {
    text-decoration-color: #666;
}


#selfie:hover {
    opacity: 50;
}

.snowContainer {
    position: relative;
    justify-content: center;
    height: 90vh;
}

#snow-canvas {
    height: 90vh;
    width: 100%;
    background-color: #171717;
    position: relative;
    z-index: -1;
}


.info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

i {
    color: white;
}

.intro {
    height: 40vh;
    display: block;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 20%;
    background-color: white;
    height: 2px;
}

#bodytext {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    width: 50%;
    text-align: left;
}

nav p {
    color: white
}

#menu-outer {
    height: 84px;
    background: url(images/bar-bg.jpg) repeat-x;
}

.table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}

#menubutton {
    color: #666;
    font-size: 30px;
    margin-top: 2.5vh;
    text-decoration-skip: edges;
}

#menubutton a {
    display: block;
}
