html,
body {
    margin: 0;
    padding: 0;
}

p {
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#projectlink {
    color: #666;
    text-decoration: underline;
    text-decoration-color: #666;
    transition: .15s;
}

#projectlink:hover {
    text-decoration-color: white;
}

#selfie {
    margin-bottom: 5vh;
    border-radius:50%;
    width:250px;
    border:#ffffff 10px solid;
}

#selfie:hover {
    opacity: 50;
}

.snowContainer {
    position: relative;
    justify-content: center;
    display: block;
}

#snow-canvas {
    height: 100%;
    display: block;
    width: 100%;
    background-color: #171717;
    position: relative;
    z-index: -1;
}

.about_snowContainer {
    position: relative;
    justify-content: center;
    display: block;
}

#about-snow-canvas {
    height: 100%;
    display: block;
    width: 100%;
    background-color: #171717;
    position: relative;
    z-index: -1;
}



.info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.info_container{

    height:100vh;
}

i {
    color: white;
}

.intro {
    height: 40vh;
    display: block;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    clear: both;
    display: block;
    width: 20%;
    background-color: white;
    height: 2px;
}

#bodytext {
    color: rgba(0, 0, 0, 0.84);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.58;
    letter-spacing: -0.004em;
    width: 75%;
    text-align: left;
}

nav p {
    color: white
}

#menu-outer {
    height: 84px;
    background: url(images/bar-bg.jpg) repeat-x;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}

#menubutton {
    color: #666;
    font-size: 30px;
    margin-top: 2.5vh;
    text-decoration-skip: edges;
}

#menubutton a {
    display: block;
}

.portfolio{
    width: 80%;
    margin-left: 10%;
}

.portfolio_content{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
}

.exp_card{
    display: grid;
    grid-template-columns: 150px 200px;
    column-gap: 20px;
    height: 160px;
    border: white 5px solid;
    border-radius: 2px;
    transition: opacity 0.25s;
}

.exp_card:hover{
    opacity: 80%;
}

.exp_card img{
    width: 150px;
}

#desc_content{
    position: relative;top: 50%;transform: translateY(-50%);
}

.projects{
    width: 80%;
    margin-left: 10%;
}

.projects_content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
}

.project_card{
    display: grid;
    grid-template-rows: 200px 60px;
    column-gap: 20px;
    width: 210px;
    border: white 5px solid;
    border-radius: 2px;
    transition: opacity 0.25s;
}

.project_card:hover{
    opacity: 80%;
}

.project_card img{
    width: 200px;
}

#desc_content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}


@media only screen and (max-width: 760px) {
    .portfolio{
        width: 90%;
        margin-left: 5%;
    }

    .portfolio_content{
        display: grid;
        grid-template-columns: auto;
        row-gap: 50px;
    }

    .exp_card{
        display: grid;
        grid-template-columns: 110px 180px;
        justify-items: left;
        height: 120px;
    }

    .exp_card #desc{
        width: 150px;
    }
    
    .exp_card img{
        width:110px;
    }

    #selfie{
        width: 225px;
    }

    .projects{
        width: 80%;
        margin-left: 10%;
    }

    .projects_content{
        display: grid;
        grid-template-columns: auto auto ;
        column-gap: 20px;
        row-gap: 40px;
        justify-items: center;
    }

    .project_card{
        display: grid;
        grid-template-rows: 125px 60px;
        column-gap: 20px;
        width: 135px;
        border: white 5px solid;
        border-radius: 2px;
        transition: opacity 0.25s;
    }
    
    .project_card:hover{
        opacity: 80%;
    }
    
    .project_card img{
        width: 125px;
    }
  }

#hitmeup{
    text-decoration: none;
    color: inherit;
    border-bottom: 7px dotted white;
}

#hitmeup:hover {
    border-bottom: none;
}