html,
body {
    margin: 0;
    padding: 0;
}

p {
    text-rendering: optimizeLegibility;
}

a {
    color: #666;
    text-decoration: underline;
    text-decoration-color: #666;
    transition: .15s;
}

a:hover {
    text-decoration-color: white;
}


#selfie:hover {
    opacity: 50;
}

.snowContainer {
    position: relative;
    justify-content: center;
    height: 95vh;
}

#snow-canvas {
    height: 95vh;
    width: 100%;
    background-color: #171717;
    position: relative;
    z-index: -1;
}


.info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

i {
    color: white;
}

.intro {
    height: 65vh;
    display: block;
}

.bodytext {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    width: 74vh;
    letter-spacing: .4;
    text-align: left;
}

nav p {
    color: white
}
